<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<rss version="2.0">
  <channel>
    <title>Coastal Credit Union Community Events</title>
    <link>https://www.coastal24.com/about/community-engagement/coastal-in-the-community</link>
    <description>Community events sponsored by Coastal Credit Union</description>
    <lastBuildDate>Mon, 11 May 2026 21:15:31 GMT</lastBuildDate>
    <item>
      <title>Sip, Savor, and Celebrate at Creedmoor Road Branch (Sep 17, 2026 | 5:30 pm — 7:00 pm)</title>
      <link>https://www.coastal24.com/about/community-engagement/coastal-in-the-community/2026/september/community-day</link>
      <guid>https://www.coastal24.com/about/community-engagement/coastal-in-the-community/2026/september/community-day</guid>
      <pubDate>Fri, 10 Apr 2026 18:15:19 GMT</pubDate>
      <description><![CDATA[<img src="https://www.coastal24.com/getContentAsset/d000d53a-7bbf-4744-88be-48a9592c17b6/bd9e9f4d-9bd3-4fd9-b768-227495ff59c1/creedmoor.png?language=en" alt="Sip, Savor, and Celebrate at Creedmoor Road Branch" /><br/><strong>Date:</strong> Sep 17, 2026 | 5:30 pm — 7:00 pm<br/><strong>Location:</strong> Creedmoor Branch<br/><br/><p>Join us as we celebrate a significant milestone 15 Years of Creedmoor Branch serving our community.</p>]]></description>
    </item>
    <item>
      <title>Sip, Savor, and Celebrate at Rocky Mount Branch (Oct 29, 2026 | 5:30 pm — 7:00 pm)</title>
      <link>https://www.coastal24.com/about/community-engagement/coastal-in-the-community/2026/october/sip-savor-and-celebrate-at-rocky-mount-branch</link>
      <guid>https://www.coastal24.com/about/community-engagement/coastal-in-the-community/2026/october/sip-savor-and-celebrate-at-rocky-mount-branch</guid>
      <pubDate>Fri, 10 Apr 2026 18:15:19 GMT</pubDate>
      <description><![CDATA[<img src="https://www.coastal24.com/getContentAsset/4f20fa5e-2263-49b2-aff2-932867dc4a65/bd9e9f4d-9bd3-4fd9-b768-227495ff59c1/rocky-mount.png?language=en" alt="Sip, Savor, and Celebrate at Rocky Mount Branch" /><br/><strong>Date:</strong> Oct 29, 2026 | 5:30 pm — 7:00 pm<br/><strong>Location:</strong> Rocky Mount Branch<br/><br/><p>Join us as we celebrate a significant milestone: <strong>10 Years of our Rocky Mount</strong> branch serving our community.&nbsp;</p>]]></description>
    </item>
    <item>
      <title>Sip, Savor, and Celebrate at Henderson Branch (Jun 25, 2026 | 5:30 pm — 7:00 pm)</title>
      <link>https://www.coastal24.com/about/community-engagement/coastal-in-the-community/2026/june/sip-savor-and-celebrate-at-henderson-branch</link>
      <guid>https://www.coastal24.com/about/community-engagement/coastal-in-the-community/2026/june/sip-savor-and-celebrate-at-henderson-branch</guid>
      <pubDate>Fri, 27 Mar 2026 21:15:19 GMT</pubDate>
      <description><![CDATA[<img src="https://www.coastal24.com/getContentAsset/325d84cb-8f29-4bb1-9725-200e0ca7ecdb/bd9e9f4d-9bd3-4fd9-b768-227495ff59c1/henderson.png?language=en" alt="Sip, Savor, and Celebrate at Henderson Branch" /><br/><strong>Date:</strong> Jun 25, 2026 | 5:30 pm — 7:00 pm<br/><strong>Location:</strong> Henderson Branch<br/><br/><div class="rte___DukHX read-only___euaUg" data-testid="rich-text-editor" data-pasted="true">
 <div data-testid="EventIntro" data-readonly="true">
  <div class="fr-view">
   <p>Join us as we celebrate a significant milestone: <strong>10 Years of our Henderson branch</strong> serving our community.</p>
  </div>
 </div>
</div>]]></description>
    </item>
    <item>
      <title>Sip, Savor, and Celebrate at Carrboro Branch (Aug 20, 2026 | 5:30 pm — 7:00 pm)</title>
      <link>https://www.coastal24.com/about/community-engagement/coastal-in-the-community/2026/august/sip-savor-and-celebrate-at-carrboro-branch</link>
      <guid>https://www.coastal24.com/about/community-engagement/coastal-in-the-community/2026/august/sip-savor-and-celebrate-at-carrboro-branch</guid>
      <pubDate>Fri, 27 Mar 2026 21:15:19 GMT</pubDate>
      <description><![CDATA[<img src="https://www.coastal24.com/getContentAsset/a49db8da-8f4a-4086-b69a-f096ce1d7ffd/bd9e9f4d-9bd3-4fd9-b768-227495ff59c1/carrboro.png?language=en" alt="Sip, Savor, and Celebrate at Carrboro Branch" /><br/><strong>Date:</strong> Aug 20, 2026 | 5:30 pm — 7:00 pm<br/><strong>Location:</strong> Carrboro Branch<br/><br/><p>Join us as we celebrate a significant milestone: <strong data-pasted="true">10 Years of our Carrboro branch</strong> serving our community.</p>]]></description>
    </item>
  </channel>
</rss>
