<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<rss version="2.0">
  <channel>
    <title>Coastal Credit Union Community Events</title>
    <link>https://www.coastal24.com/about/community-engagement/coastal-in-the-community</link>
    <description>Community events sponsored by Coastal Credit Union</description>
    <lastBuildDate>Thu, 8 Jan 2026 00:15:55 GMT</lastBuildDate>
  </channel>
</rss>
